<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ZAF Validátor</title>
</head>
<body>
    <h1>ZAF Validátor</h1>
    <p>...o ZAFu...</p>
    <h2>Validace balíčků a souborů</h2>
    <form method="post" enctype="multipart/form-data" th:action="@{upload}">
      <table>
        <tr><td><label for="file">Soubor:</label></td>
        <td><input id="file" type="file" name="file" /></td></tr>
        
		<tr><td><label for="validationType">Druh validace:</label></td>
        <td><select id="validationType" name="validationType">
			<option value="AUTO">AUTO</option>
			<option value="NSESSS2017">NSESSS2017</option>
			<option value="NSESSS2024">NSESSS2024</option>
			<option value="AP2023">AP2023</option>
			<option value="DAAIP2024">DAAIP2024</option>
		</select></td></tr>
		
		<tr><td><label for="validationProfile">Profil validace:</label></td>
        <td><select id="validationProfile" name="validationProfile">
			<option value="AUTO">AUTO</option>
			<option value="SIP_METADATA">SIP pro provedení skartačního řízení (NSESSS2017, NSESSS2024)</option>
			<option value="SIP_PREVIEW">SIP pro provedení skartačního řízení s komponentami (NSESSS2017, NSESSS2024)</option>
			<option value="SIP">SIP pro předání (NSESSS2017, NSESSS2024)</option>
			<option value="AD">archivní popis (pro AP2023)</option>
			<option value="FA">archivní pomůcka (pro AP2023)</option>
			<option value="AIP">výměnný AIP (pro DAAIP2024)</option>
			<option value="DIP_METADATA">metadatový DIP (pro DAAIP2024)</option>
			<option value="DIP_CONTENT">úplný DIP (pro DAAIP2024)</option>
			<option value="SIP_CHANGE">změnový SIP (pro DAAIP2024)</option>
		</select></td></tr>

		<tr><td><label for="batch">Dávka:</label></td>		
        <td><input id="batch" type="checkbox" name="batch" value="true" title="Dávka" /></td></tr>
        
        <tr><td></td><td><button type="submit">Nahrát</button></td></tr>
      </table>
    </form>
</body>
</html>
